<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="OPEX Budget" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="me-2">
        <label>Factory Line</label>
        <select [disabled]="lineData.length <= 1" *ngIf="lineData" (change)="onFactoryLineChange($event)"
            class="form-select form-select" [(ngModel)]="selectedLine.id">
            <option *ngFor="let item of lineData" value="{{ item.id }}"> {{ item.name }} </option>
        </select>
    </div>
    <div>
        <label>Year</label>
        <div class="input-group">
            <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('prev')" type="button">
                <i class="ri ri-arrow-left-line"></i>
            </button>
            <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
            <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('next')" type="button">
                <i class="ri ri-arrow-right-line"></i>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="row g-4" *ngIf="userData.role_name == 'Admin'">
            <div class="col-sm-auto">
                <div class="d-flex gap-1">
                    <button *ngIf="!isTabOpen.comparison && userData.role_name == 'Admin'" (click)="openUpdateModal(importModal)" type="button"
                        class="btn btn-primary add-btn" id="import-btn" [disabled]="isTabOpen.actual && opexTrData.length < 1">
                        <i class="ri-file-upload-line align-bottom me-1"></i> Import
                    </button>
                    <a *ngIf="opexTrData.length > 0"
                        [href]="opexXlsxLink(isTabOpen.actual ? 'actual' : isTabOpen.budget ? 'budget' : 'comparison', year, selectedCostCenter.id)"
                        class="btn btn-info add-btn" id="export-btn">
                        <i class="ri-file-excel-line align-bottom me-1"></i> Export
                    </a>
                    <button (click)="openUpdateModal(updateModal)" type="button" class="btn btn-success add-btn"
                        id="create-btn">
                        <i class="ri-add-line align-bottom me-1"></i> Add
                    </button>
                    <button *ngIf="!isTabOpen.comparison && userData.role_name == 'Admin'" class="btn btn-soft-danger" (click)="onDeleteOpexTransaction()"><i
                        class="ri-delete-bin-2-line"></i></button>
                </div>
            </div>
            <div class="col-sm" *ngIf="opexTrData.length > 0">
                <div class="d-flex justify-content-sm-end">
                    <div class="search-box ms-2">
                        <input type="text" class="form-control search" placeholder="Search..."
                            [(ngModel)]="searchKeyword" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div class="" *ngIf="costCenterData">
                <label for="sectionFilter">Cost Center / Section</label>
                <select (change)="onSectionChange($event)" id="sectionFilter" class="form-select"
                    [(ngModel)]="selectedCostCenter.id">
                    <option *ngFor="let section of costCenterData" value="{{ section.id }}">{{ section.cost_ctr }} - {{
                        section.section }}</option>
                </select>
            </div>
            <div *ngIf="userData.role_name == 'Admin' && opexTrData.length > 0 && !isTabOpen.comparison">
                <div class="form-check form-switch form-switch-md ms-1">
                    <input [checked]="isEditMode" (change)="onEditModeChecked($event)" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Edit Mode</label>
                </div>
                <button type="button" class="btn btn-success mt-1" (click)="onEditSaveChanges()" *ngIf="isEditMode">Save Changes</button>
            </div>
        </div>
        <!-- <div class="row g-3 mt-2" *ngIf="costCenterData.length > 0">
            <div class="col-xxl-3 col-sm-6" *ngIf="costCenterData">
                <label for="sectionFilter">Cost Center / Section</label>
                <select (change)="onSectionChange($event)" id="sectionFilter" class="form-select"
                    [(ngModel)]="selectedCostCenter.id">
                    <option *ngFor="let section of costCenterData" value="{{ section.id }}">{{ section.cost_ctr }} - {{
                        section.section }}</option>
                </select>
            </div>
        </div> -->
    </div>
    <div class="card-body">
        <ul ngbNav #Animation="ngbNav" [activeId]="activeTab"
            class="nav nav-pills animation-nav nav-justified gap-2 mb-3">
            <li *ngFor="let tab of tabData" [ngbNavItem]="tab.id">
                <a ngbNavLink [name]="common.jsonToString(tab)" (click)="onTabChange($event)">{{ tab.name }}</a>
            </li>
        </ul>
        <div *ngIf="opexTrData.length > 0;else budgetingNotFound" class="table-responsive">
            <table class="table table-nowrap">
                <thead class="table-light" *ngIf="tableColumns">
                    <tr>
                        <th *ngIf="!isTabOpen.comparison" scope="col">
                            <div class="form-check">
                              <input (change)="onChecklistAll($event)" class="form-check-input" type="checkbox" value="0" id="check">
                              <label class="form-check-label" for="check"></label>
                            </div>
                        </th>
                        <th scope="col">#</th>
                        <th scope="col" class="sort" *ngFor="let col of tableColumns" (click)="sort(col)">{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of opexTransaction(); let i = index">
                        <td *ngIf="!isTabOpen.comparison">
                            <div class="form-check">
                              <input [(ngModel)]="item.is_selected" (change)="onCheckedSupplyBudget($event)" class="form-check-input"
                                name="check_{{item.budget_id}}" type="checkbox" value="{{ item.budget_id }}"
                                id="check_{{item.budget_id}}">
                              <label class="form-check-label" for="check_{{item.budget_id}}"></label>
                            </div>
                        </td>
                        <td>{{ i + 1 }}</td>
                        <td *ngFor="let col of tableColumns; let _i = index"
                            class="{{ col === 'Total Value' ? 'table-active' : '' }} ">
                            <ng-container *ngIf="!isEditMode">
                                    <!-- <div>{{ columnData(item[col]) }}</div> -->
                                <div>
                                    <a class="text-reset">{{ columnData(item[col]) }}</a>
                                </div>
                                <span *ngIf="isTabOpen.comparison && item[col].isActual"
                                    class="fs-7 text-{{ actualBudgetPercentage(item[tableColumns[_i - 1]].price, item[col].price) > 100 ? 'danger' : 'primary' }}">({{
                                    common.roundNumber(actualBudgetPercentage(item[tableColumns[_i - 1]].price,
                                    item[col].price)) }}%)
                                </span>
                            </ng-container>
                            <ng-container *ngIf="isEditMode">
                                <div>
                                    <div *ngIf="col === 'Chart Of Account' || col === 'Total Value'">
                                        <a class="text-reset">{{ columnData(item[col]) }}</a>
                                    </div>
                                    <input *ngIf="col !== 'Chart Of Account' && col !== 'Total Value'" [(ngModel)]="item[col].price" type="number" class="form-control">
                                </div>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="table-light">
                    <tr>
                        <td [attr.colspan]="isTabOpen.comparison ? 2 : 3">Total</td>
                        <td *ngFor="let price of tableFootPrice">{{ common.getRupiahFormat(price) }}</td>
                        <td>{{ common.getRupiahFormat(common.sumElementFromArray(opexTrData, "Total Value")) }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<ng-template #updateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create OPEX {{ isTabOpen.actual ? 'Actual' : 'Budget' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Chart Of Account</label>
                <input id="typeahead-http" type="text" class="form-control" [editable]="false"
                    [(ngModel)]="selectedOpexMaster" [ngbTypeahead]="searchOpexMaster"
                    [inputFormatter]="opexMasterFormatter" [resultFormatter]="opexMasterFormatter"
                    placeholder="Search for COA" />
                <small *ngIf="opexMasterSearching" class="form-text text-muted">Searching...</small>
                <small *ngIf="searchLength" class="form-text text-muted">Type at least {{ 3 - searchLength }} more character</small>
            </div>
        </div>
        <div class="row mb-3">
            <div *ngFor="let month of formBudgetMonth" class="col-lg-3 mb-3">
                <label>{{ month.month }} {{ isTabOpen.actual ? 'Actual' : 'Budget' }}</label>
                <div class="input-group">
                    <span class="input-group-text">Rp</span>
                    <input [(ngModel)]="month.price" type="number" class="form-control" 
                        placeholder="Input {{ month.month }} {{ isTabOpen.actual ? 'Actual' : 'Budget' }}">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
    </div>
</ng-template>
<ng-template #importModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Import {{ isTabOpen.actual ? 'Actual' : 'Budget' }} OPEX</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <ul (navChange)="onImportModalNavChange()" ngbNav #Bordered="ngbNav" [(activeId)]="activeTabImport"
            class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3">
            <li *ngIf="isTabOpen.budget" [ngbNavItem]="'create'">
                <a ngbNavLink>Create OPEX</a>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
            <li *ngIf="opexTrData.length > 0" [ngbNavItem]="'update'">
                <a ngbNavLink>Update OPEX</a>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
        </ul>
        <ng-container [ngTemplateOutlet]="importAdd"></ng-container>
        <ng-template #importAdd>
            <div class="mb-3">
                <label for="file" class="form-label">Select file to {{ activeTabImport === 'update' ? 'update' :
                    'import' }}</label>
                <input class="form-control" id="file" type="file"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [(ngModel)]="uploadedFilename" (change)="onXLSXFileChange($event)">
            </div>
            <small>
                <a
                    [href]="activeTabImport === 'create' ? opexXlsxTemplateLink : opexXlsxLink(isTabOpen.actual ? 'actual' : 'budget', year, selectedCostCenter.id)">Download
                    Template</a>
            </small>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
        <button *ngIf="!isLoading" type="button" class="btn btn-success" (click)="onXlsxImport()"
            [disabled]="!uploadedFiles">Import</button>
        <button *ngIf="isLoading" type="button" class="btn btn-success btn-load" disabled>
            <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
                <span class="flex-grow-1 ms-2">
                    Loading...
                </span>
            </span>
        </button>
    </div>
</ng-template>
<ng-template #importDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Import Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3" *ngIf="err.dupplicateOpex?.length != 0">
            <label>Duplicates Opex Found</label>
            <ol class="list-group list-group-numbered">
                <li ngFor class="list-group-item" *ngFor="let item of err.dupplicateOpex">{{ item }}</li>
            </ol>
        </div>
        <div class="mb-3" *ngIf="err.notFoundOpex?.length != 0">
            <label>Undefined Opex</label>
            <ol class="list-group list-group-numbered">
                <li ngFor class="list-group-item" *ngFor="let item of err.notFoundOpex">{{ item }}</li>
            </ol>
        </div>
    </div>
</ng-template>
<ng-template #budgetingNotFound>
    <div class="container p-3">
        <div class="d-flex justify-content-center mb-1">
            <h3>Empty</h3>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="text-muted" *ngIf="isTabOpen.budget">Budget data on factory line {{ selectedLine.line }} in {{
                year }} has not been
                planned yet.</a>
            <a class="text-muted" *ngIf="isTabOpen.actual">Actual data on factory line {{ selectedLine.line }} in {{
                year }} are not available.</a>
            <a class="text-muted" *ngIf="isTabOpen.comparison">Cannot compare because budgeting data is empty.</a>
        </div>
        <div class="d-flex justify-content-center" *ngIf="isTabOpen.budget && userData.role_name == 'Admin'">
            <!-- <button type="button" class="btn btn-soft-primary">Copy Data From Previous Year</button> -->
        </div>
    </div>
</ng-template>