<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Supplies Transactions" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header">
        <div class="row g-4 align-items-center">
            <div class="col-sm-auto">
                <div class="d-flex gap-1">
                    <div class="me-2">
                        <label class="form-label">Date Filter</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="ri-calendar-2-fill"></i></span>
                            <input class="form-control flatpickr-input" placeholder="Date Range Filter"
                            type="text" mwlFlatpickr (flatpickrChange)="onChangeDateRange($event)" [altInput]="true" [convertModelValue]="true"
                            mode="range">
                        </div>
                    </div>
                    <div class="me-2">
                        <label class="form-label">Line Filter</label>
                        <select [disabled]="lineData.length === 1" class="form-select" (change)="onFactoryLineFilter()" [(ngModel)]="lineId">
                            <option *ngIf="isAllAccessGranted" [value]="-1">(All Lines)</option>
                            <option *ngFor="let line of lineData" [value]="line.id">{{ line.name }}</option>
                        </select>
                    </div>
                    <div class="me-2">
                        <label class="form-label">Section Filter</label>
                        <select [disabled]="sectionData.length < 1" class="form-select" (change)="onSectionFilter()" [(ngModel)]="costCtrId">
                            <option [value]="-1">(All Sections)</option>
                            <option *ngFor="let section of sectionData" [value]="section.id">{{ section.cost_ctr }} - {{ section.section }}</option>
                        </select>
                    </div>
                    <!-- <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal(content)">
                        <i class="ri-add-line align-bottom me-1"></i> Add
                    </button> -->
                </div>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                    <div class="row row-cols-lg-auto g-1 align-items-center me-2">Show</div>
                    <div>
                        <select class="form-select" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="25">25</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                        </select>
                    </div>
                    <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2">Entries</div>
                    <div class="search-box ms-2">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchTerm"
                            (input)="searchSubject.next(searchTerm)" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive" *ngIf="actualData.length > 0;else emptyTransaction">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="sort" (click)="onSort('entry_datetime')">Date</th>
                    <th scope="col" class="sort" (click)="onSort('reservation')">Reservation</th>
                    <th scope="col" class="sort" (click)="onSort('material_desc')">Material</th>
                    <th scope="col" class="sort" (click)="onSort('section')">Section / Cost Center</th>
                    <th scope="col" class="sort" (click)="onSort('reference')">Reference</th>
                    <th scope="col" class="sort" (click)="onSort('user_name')">Username</th>
                    <th scope="col" class="sort" (click)="onSort('uom')">UOM</th>
                    <th scope="col" class="sort" (click)="onSort('quantity')">Qty</th>
                    <th scope="col" class="sort" (click)="onSort('price')">Price</th>
                    <!-- <th scope="col">Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of actualData; let i = index">
                    <th scope="row">{{ calculateStartingIndex(i) }}</th>
                    <td>{{ data.entry_datetime | date: 'MMM dd, yyyy' }}</td>
                    <td>{{ data.reservation }}</td>
                    <td>
                        <div class="fs-6">
                            <a routerLink="../supplies/detail/{{ data.material_code }}" class="text-reset">{{ data.material_desc }}</a>
                        </div>
                        <span class="fs-7 text-muted">{{ data.material_code }}</span>
                    </td>
                    <td>
                        <div class="fs-6">
                            <a class="text-reset">{{ data.section }}</a>
                        </div>
                        <span class="fs-7 text-muted">{{ data.cost_center }}</span>
                    </td>
                    <td>{{ data.reference }}</td>
                    <td>{{ data.user_name }}</td>
                    <td>{{ data.uom }}</td>
                    <td>{{ common.formatDecimal(+data.quantity) }}</td>
                    <td>{{ common.getRupiahFormat(+data.price) }}</td>
                    <!-- <td>
                        <a ngbTooltip="Edit" placement="start" class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
                            (click)="openModal(content, data)">
                            <i class="ri ri-edit-2-line"></i>
                        </a>
                        <button ngbTooltip="Delete" placement="end" type="button"
                            class="mt-1 mb-1 btn btn-soft-danger btn-sm" (click)="onDeleteLine(data.id)">
                            <i class="ri ri-delete-bin-line"></i>
                        </button>
                    </td> -->
                </tr>
            </tbody>
            <tfoot class="table-light">
                <tr>
                    <td colspan="9">Total Value</td>
                    <td>{{ common.getRupiahFormat(totalValue) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="3" [(page)]="currentPage" [pageSize]="pageSize"
                (pageChange)="
          searchActualTrByPagination(searchTerm)">
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #emptyTransaction>
    <div class="card table-responsive p-3">
        <div class="text-center mt-3" *ngIf="actualData.length == 0">
            <h4 class="card-title">Actual transaction is empty</h4>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/images/file.png" alt="no-finding" height="300">
        </div>
    </div>
</ng-template>