<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Master Material" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
  <div class="card-header">
    <div class="row g-4">
      <div class="col-sm-auto">
        <div class="d-flex gap-1">
          <button type="button" class="btn btn-primary add-btn" id="import-btn" (click)="openModal(importModal)">
            <i class="ri-file-upload-line align-bottom me-1"></i> Import
          </button>
          <a [href]="materialXlsxLink" class="btn btn-info add-btn" id="export-btn">
            <i class="ri-file-excel-line align-bottom me-1"></i> Export
          </a>
          <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal(updateModal)">
            <i class="ri-add-line align-bottom me-1"></i> Add
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-sm-end">
          <div class="row row-cols-lg-auto g-1 align-items-center me-2">Show</div>
          <div>
            <select class="form-select" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
          <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2">Entries</div>
          <div class="search-box ms-2">
            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchTerm"
              (input)="searchSubject.next(searchTerm)" />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col" class="">#</th>
          <th scope="col" class="sort" (click)="onSort('material_code')">Material Code</th>
          <th scope="col" class="sort" (click)="onSort('material_desc')">Material Description</th>
          <th scope="col" class="sort" (click)="onSort('uom')">UOM</th>
          <th scope="col" class="">Latest Average Price</th>
          <th scope="col" class="">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="materialData.length > 0">
        <tr *ngFor="let data of materialData; let i = index">
          <th scope="row">{{ calculateStartingIndex(i) }}</th>
          <td>{{ data.material_code }}</td>
          <td>{{ data.material_desc }}</td>
          <td>{{ data.uom }}</td>
          <td>
            {{ common.getRupiahFormat(getLatestAveragePrice(data.detail_price)) }}
            <span class="text-muted fs-12 ms-1">({{ getLatestAvgPriceYear(data.detail_price) }})</span>
          </td>
          <td>
            <a ngbTooltip="Detail" placement="start" class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
              routerLink="./{{ data.material_code }}">
              <i class="ri ri-eye-line"></i>
            </a>
            <button (click)="onDeleteMaterial(data)" ngbTooltip="Delete" placement="end" type="button"
              class="mt-1 mb-1 btn btn-soft-danger btn-sm"><i class="ri ri-delete-bin-line"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [maxSize]="3" [(page)]="currentPage" [pageSize]="pageSize"
        (pageChange)="searchMaterialWithPagination(searchTerm, currentPage, pageSize, sortColumn, sortDirection)">
      </ngb-pagination>
    </div>
  </div>
</div>
<ng-template #updateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add New Material</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-2">
          <div class="row g-3">
            <div class="col-lg-4 col-sm-6">
              <label class="form-label" for="matCode">Material Code</label>
              <input [(ngModel)]="material.material_code" placeholder="Input Material Code" type="number"
                class="form-control" id="matCode" name="matCode">
            </div>
            <div class="col-lg-6 col-sm-6">
              <label class="form-label" for="matDesc">Material Description</label>
              <input [(ngModel)]="material.material_desc" placeholder="Input Material Description" type="text"
                class="form-control" id="matDesc" name="matDesc">
            </div>
            <div class="col-lg-2 col-sm-6">
              <label class="form-label">UOM</label>
              <ng-autocomplete [(ngModel)]="material.uom" [data]="uomData" [searchKeyword]="'uom'"
                placeholder="Input UOM" [itemTemplate]="itemTemplate">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
              </ng-template>
            </div>
            <div class="col-lg-9 col-sm-6">
              <label class="form-label" for="avgPrice">Average Price ({{ year }})</label>
              <div class="input-group">
                <span class="input-group-text">Rp</span>
                <input [(ngModel)]="material.average_price" [disabled]="year <= 0" placeholder="Input Average Price"
                  type="number" class="form-control" id="avgPrice" name="avgPrice">
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <label class="form-label">Year (avg. price in)</label>
              <div class="input-group">
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('prev')" type="button">
                  <i class="ri ri-arrow-left-line"></i>
                </button>
                <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('next')" type="button">
                  <i class="ri ri-arrow-right-line"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
    <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
  </div>
</ng-template>

<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import Material</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ul (navChange)="onImportModalNavChange()" ngbNav #Bordered="ngbNav" [(activeId)]="activeTabImport"
      class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3">
      <li [ngbNavItem]="'Material'">
        <a ngbNavLink>
          New Material
        </a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-lg-9 col-sm-6 mb-3">
              <label for="file" class="form-label">Select file</label>
              <input class="form-control" id="file" type="file"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                (change)="onXLSXFileChange($event)">
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
              <label class="form-label">Year (avg. price in)</label>
              <div class="input-group">
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('prev')" type="button">
                  <i class="ri ri-arrow-left-line"></i>
                </button>
                <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('next')" type="button">
                  <i class="ri ri-arrow-right-line"></i>
                </button>
              </div>
            </div>
          </div>
          <small><a href="{{ materialTemplateXlsxLink }}">Download XLSX template</a></small>
        </ng-template>
      </li>
      <li [ngbNavItem]="'AvgPrice'">
        <a ngbNavLink>
          Update Average Price
        </a>
        <ng-template ngbNavContent>
          <div class="row">
            <div class="col-lg-9 col-sm-6 mb-3">
              <label for="file" class="form-label">Select file</label>
              <input class="form-control" id="file" type="file"
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                (change)="onXLSXFileChange($event)">
            </div>
            <div class="col-lg-3 col-sm-6 mb-3">
              <label class="form-label">Year (avg. price in)</label>
              <div class="input-group">
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('prev')" type="button">
                  <i class="ri ri-arrow-left-line"></i>
                </button>
                <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
                <button class="btn btn-sm btn-success" (click)="onButtonChangeYear('next')" type="button">
                  <i class="ri ri-arrow-right-line"></i>
                </button>
              </div>
            </div>
          </div>
          <small><a href="{{ avgPriceTemplateXlsxLink }}/{{ year }}">Download XLSX template</a></small>
        </ng-template>
      </li>
    </ul>
    <div class="tab-content text-muted">
      <div [ngbNavOutlet]="Bordered"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
    <button *ngIf="!isLoading" type="button" (click)="onImportXLSX(activeTabImport)" class="btn btn-success"
      [disabled]="!uploadedFiles">Import</button>
    <button *ngIf="isLoading" type="button" class="btn btn-success btn-load" disabled>
      <span class="d-flex align-items-center">
        <span class="spinner-border flex-shrink-0" role="status">
          <span class="visually-hidden">Loading...</span>
        </span>
        <span class="flex-grow-1 ms-2">
          Loading...
        </span>
      </span>
    </button>
  </div>
</ng-template>
<ng-template #importDetailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Import Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3" *ngIf="err.duplicatesMaterial?.length != 0">
      <label>Duplicates Material Found</label>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item" *ngFor="let item of err.duplicatesMaterial">
          {{ item.material_code }} {{ item.material_desc ? '- ' + item.material_desc : "" }}
        </li>
      </ol>
    </div>
    <div class="mb-3" *ngIf="err.existMaterial?.length != 0">
      <label>Existing Material</label>
      <ul class="list-group list-group-numbered">
        <li class="list-group-item" *ngFor="let item of err.existMaterial">
          {{ item.material_desc }}
          <span class="ms-1 text-secondary"><small>/ {{ item.material_code }}</small></span>
          <span class="ms-1 text-muted"><small>({{ item.uom }})</small></span>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="err.notFoundMaterial?.length != 0">
      <label>Not Found Material</label>
      <ol class="list-group list-group-numbered">
        <li ngFor class="list-group-item" *ngFor="let item of err.notFoundMaterial">{{ item }}</li>
      </ol>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>