<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs
  title="Master Cost Center"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<div class="card">
  <div class="card-header">
    <div class="row g-4">
      <div class="col-sm-auto">
        <div class="d-flex gap-1">
          <a [href]="costCenterXlsxLink" class="btn btn-info add-btn" id="export-btn">
            <i class="ri-file-excel-line align-bottom me-1"></i> Export
          </a>
          <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal(content)">
            <i class="ri-add-line align-bottom me-1"></i> Add
          </button>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-sm-end">
          <div class="row row-cols-lg-auto g-1 align-items-center me-2">Show</div>
          <div>
            <select class="form-select" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
              <option [value]="10">10</option>
              <option [value]="25">25</option>
              <option [value]="50">50</option>
              <option [value]="100">100</option>
            </select>
          </div>
          <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2">Entries</div>
          <div class="search-box ms-2">
            <input
              type="text"
              class="form-control search"
              placeholder="Search..."
              [(ngModel)]="searchTerm"
              (input)="searchSubject.next(searchTerm)"
            />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="sort" (click)="onSort('cost_ctr')">Cost Center</th>
          <th scope="col" class="sort" (click)="onSort('section')">Section</th>
          <th scope="col" class="sort" (click)="onSort('line')">Line</th>
          <th scope="col" class="sort" (click)="onSort('language')">Language</th>
          <th scope="col" class="sort" (click)="onSort('coar')">COAR</th>
          <th scope="col" class="sort" (click)="onSort('cocd')">COCD</th>
          <th scope="col" class="sort" (click)="onSort('cctc')">CCTC</th>
          <th scope="col" class="sort" (click)="onSort('valid_from')">Valid From</th>
          <th scope="col" class="sort" (click)="onSort('valid_to')">Valid To</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="costCtrData.length > 0">
        <tr *ngFor="let data of costCtrData; let i = index">
          <th scope="row">{{ calculateStartingIndex(i) }}</th>
          <td>{{ data.cost_ctr }}</td>
          <td>{{ data.section }}</td>
          <td *ngIf="data.line">{{ data.line }}</td>
          <td *ngIf="!data.line">
            <small class="text-muted">Not specified yet</small>
          </td>
          <td>{{ data.language }}</td>
          <td>{{ data.coar }}</td>
          <td>{{ data.cocd }}</td>
          <td>{{ data.cctc }}</td>
          <td>{{ data.valid_from | date }}</td>
          <td>{{ data.valid_to | date }}</td>
          <td>
            <a
              ngbTooltip="Edit"
              placement="start"
              class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
              (click)="openModal(content, data)"
            >
              <i class="ri ri-edit-2-line"></i>
            </a>
            <button
              ngbTooltip="Delete"
              placement="end"
              type="button"
              class="mt-1 mb-1 btn btn-soft-danger btn-sm"
              (click)="onDeleteCostCenter(data.id)"
            >
              <i class="ri ri-delete-bin-line"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [maxSize]="3"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        (pageChange)="
          searchCostCenterWithPagination(searchTerm, currentPage, pageSize)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ costCenterId ? 'Update' : 'Add' }} Cost Center</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="countriesData.length > 0 && lineData.length > 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-2">
          <div class="row g-3">
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Cost Center</label>
              <input [(ngModel)]="form.cost_ctr" placeholder="Input Cost Center" type="number" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Section</label>
              <input [(ngModel)]="form.section" placeholder="Input Section" type="text" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Line</label>
              <select class="form-select" [(ngModel)]="form.line_id">
                <option *ngFor="let line of lineData" [value]="line.id">{{ line.name }}</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Language</label>
              <ng-autocomplete 
                [(ngModel)]="form.language" 
                (selected)="setCountryCode()" 
                [data]="countriesData" 
                [searchKeyword]="'lang'" 
                placeholder="Input Language" 
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.lang"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">COAR</label>
              <input [(ngModel)]="form.coar" placeholder="Input COAR" type="number" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">COCD</label>
              <input [(ngModel)]="form.cocd" placeholder="Input COCD" type="number" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">CCTC</label>
              <input [(ngModel)]="form.cctc" placeholder="Input CCTC" type="text" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Valid From</label>
              <input [(ngModel)]="form.valid_from" (change)="onDateChange($event, 'from')" type="date" class="form-control">
            </div>
            <div class="col-lg-4 col-sm-6">
              <label class="form-label">Valid To</label>
              <input [(ngModel)]="form.valid_to" (change)="onDateChange($event, 'to')" type="date" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
    <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
  </div>
</ng-template>