<ngx-loading [show]="isLoading"></ngx-loading>
<div class="row mb-4 g-4 d-flex justify-content-between align-items-center">
    <div class="col-sm-auto">
        <div class="d-flex gap-1">
            <h3 class="mb-0">OPEX Dashboard</h3>
        </div>
    </div>
    
    <div class="col-sm-auto">
        <div class="row row-cols-lg-auto g-1 align-items-center">
            <div class="me-2">
                <label>Type</label>
                <select class="form-select" (change)="onDashboardTypeChange($event)">
                    <option value="Supplies">Supplies</option>
                    <option value="OPEX" selected>OPEX</option>
                </select>
            </div>
            <div>
                <label>Year</label>
                <div class="input-group">
                    <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('prev')" type="button">
                        <i class="ri ri-arrow-left-line"></i>
                    </button>
                    <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
                    <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('next')" type="button">
                        <i class="ri ri-arrow-right-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isBudgetNotEmpty;else emptyDashboard">
    <div *ngIf="isAllAccessGranted" class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card card-animate bg-primary">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Factory Total Budget</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{ common.getRupiahFormat(totalFactoryBudget) }}</span>
                            </h4>
                            <!-- <a class="text-decoration-underline text-white-50">See details</a> -->
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-money-dollar-circle-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-animate bg-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <p class="text-uppercase fw-semibold text-white-50 mb-0">Factory Total Actual</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                <span class="counter-value">{{ common.getRupiahFormat(totalFactoryActual) }}</span>
                            </h4>
                            <!-- <a class="text-decoration-underline text-white-50">See details</a> -->
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                <i class="ri ri-exchange-dollar-fill text-light"></i>
                            </span>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div>
    </div>
    <div *ngIf="isAllAccessGranted" class="row">
        <div class="col-12" *ngIf="opexPerLineData.length > 0 && opexPerLineColumnChart">
            <div class="card">
                <div class="card-header card-header align-items-center d-flex p-3">
                    <h4 class="card-title mb-0 flex-grow-1">OPEX per Line</h4>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="showYearCompareLine" [checked]="isCompareLastYearOpex" (change)="onCheckedLastYearComparison($event)">
                        <label class="form-check-label" for="showYearCompareLine">Show Last Year's Comparison</label>
                    </div>
                </div><!-- end card header -->
    
                <div class="card-body">
                    <apx-chart [series]="opexPerLineColumnChart.series" [chart]="opexPerLineColumnChart.chart"
                            [dataLabels]="opexPerLineColumnChart.dataLabels"
                            [plotOptions]="opexPerLineColumnChart.plotOptions"
                            [yaxis]="opexPerLineColumnChart.yaxis" [legend]="opexPerLineColumnChart.legend"
                            [fill]="opexPerLineColumnChart.fill" [stroke]="opexPerLineColumnChart.stroke"
                            [tooltip]="opexPerLineColumnChart.tooltip" [xaxis]="opexPerLineColumnChart.xaxis"
                            [colors]="opexPerLineColumnChart.colors" dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
    </div>
    <div #line class="row" *ngIf="lineData.length > 0;else emptyDashboard">
        <div class="col">
            <div class="card bg-light p-3">
                <div class="card-header border-bottom-dashed align-items-center d-flex">
                    <h4 class="mb-0 flex-grow-1">Line: <span class="text-primary">{{ selectedLine.name }}</span></h4>
                    <div *ngIf="lineData.length > 1">
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-soft-primary btn-sm arrow-none" href="javascript:void(0);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                <span class="text-uppercase">{{ selectedLine.name }}<i
                                        class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                <a *ngFor="let item of lineData" class="dropdown-item" (click)="onFactoryLineChange(item)" href="javascript:void(0);">{{ item.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-soft-light">
                    <div class="row">
                        <div class="col-xl-12" *ngIf="opexPerMonthData.length > 0 && opexPerMonthColumnChart">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title mb-0">{{ selectedLine.name }} OPEX per Month</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <apx-chart [series]="opexPerMonthColumnChart.series"
                                    [chart]="opexPerMonthColumnChart.chart"
                                    [dataLabels]="opexPerMonthColumnChart.dataLabels"
                                    [plotOptions]="opexPerMonthColumnChart.plotOptions"
                                    [yaxis]="opexPerMonthColumnChart.yaxis"
                                    [legend]="opexPerMonthColumnChart.legend"
                                    [fill]="opexPerMonthColumnChart.fill"
                                    [stroke]="opexPerMonthColumnChart.stroke"
                                    [tooltip]="opexPerMonthColumnChart.tooltip"
                                    [xaxis]="opexPerMonthColumnChart.xaxis"
                                    [colors]="opexPerMonthColumnChart.colors"
                                    dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 mb-4" *ngIf="opexPerSectionData.length > 0 && opexTotalPerSectionDonutChart">
                            <div class="card h-100">
                                <div class="card-header align-items-center d-flex p-3">
                                    <h4 class="card-title mb-0 flex-grow-1">{{ selectedLine.name }} Total OPEX Value</h4>
                                    <div class="me-2">
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-soft-secondary btn-sm arrow-none" href="javascript:void(0);"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                                <span class="text-uppercase">{{ activeDonutChartDropdown }}<i
                                                        class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                <a class="dropdown-item" (click)="onBudgetActualDropdownChange('Budget')" href="javascript:void(0);" id="budget">Budget</a>
                                                <a class="dropdown-item" (click)="onBudgetActualDropdownChange('Actual')" href="javascript:void(0);" id="actual">Actual</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <apx-chart [series]="opexTotalPerSectionDonutChart.series"
                                    [labels]="opexTotalPerSectionDonutChart.labels"
                                    [chart]="opexTotalPerSectionDonutChart.chart"
                                    [plotOptions]="opexTotalPerSectionDonutChart.plotOptions"
                                    [dataLabels]="opexTotalPerSectionDonutChart.dataLabels"
                                    [legend]="opexTotalPerSectionDonutChart.legend"
                                    [stroke]="opexTotalPerSectionDonutChart.stroke"
                                    [yaxis]="opexTotalPerSectionDonutChart.yaxis"
                                    [colors]="opexTotalPerSectionDonutChart.colors" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9" *ngIf="opexPerSectionData.length > 0 && opexPerSectionBarChart">
                            <div class="card">
                                <div class="card-header align-items-center d-flex p-3">
                                    <h4 class="card-title mb-0 flex-grow-1">{{ selectedLine.name }} OPEX per Section</h4>
                                </div>
                                <div class="card-body">
                                    <apx-chart [series]="opexPerSectionBarChart.series" [chart]="opexPerSectionBarChart.chart" [tooltip]="opexPerSectionBarChart.tooltip"
                                    [dataLabels]="opexPerSectionBarChart.dataLabels" [plotOptions]="opexPerSectionBarChart.plotOptions" [yaxis]="opexPerSectionBarChart.yaxis"
                                    [xaxis]="opexPerSectionBarChart.xaxis" [stroke]="opexPerSectionBarChart.stroke" [colors]="opexPerSectionBarChart.colors" dir="ltr"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" #section>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom-dashed align-items-center d-flex">
                                    <h5 class="mb-0 flex-grow-1">Section: <span class="text-info">{{ selectedSection.name }}</span></h5>
                                    <div class="me-2" *ngIf="lineData.length > 1">
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-soft-primary btn-sm arrow-none" href="javascript:void(0);"
                                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                                <span class="text-uppercase">{{ selectedLine.name }}<i
                                                        class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                <a *ngFor="let item of lineData" class="dropdown-item" (click)="onFactoryLineChange(item)" href="javascript:void(0);">{{ item.name }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="dropdown" ngbDropdown>
                                            <button class="btn btn-soft-info btn-sm arrow-none"
                                                href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" ngbDropdownToggle>
                                                <span class="text-uppercase">{{ selectedSection.name }}<i
                                                        class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                <a *ngFor="let data of sectionData" (click)="onSectionChange(data)" class="dropdown-item" href="javascript:void(0);">{{ data.name }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12" *ngIf="opexPerSectionMonthData.length > 0 && opexSectionPerMonthColumnChart">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">{{ selectedSection.name }} OPEX per Month</h4>
                                                </div>
    
                                                <div class="card-body">
                                                    <apx-chart [series]="opexSectionPerMonthColumnChart.series"
                                                    [chart]="opexSectionPerMonthColumnChart.chart"
                                                    [dataLabels]="opexSectionPerMonthColumnChart.dataLabels"
                                                    [plotOptions]="opexSectionPerMonthColumnChart.plotOptions"
                                                    [yaxis]="opexSectionPerMonthColumnChart.yaxis"
                                                    [legend]="opexSectionPerMonthColumnChart.legend"
                                                    [fill]="opexSectionPerMonthColumnChart.fill"
                                                    [stroke]="opexSectionPerMonthColumnChart.stroke"
                                                    [tooltip]="opexSectionPerMonthColumnChart.tooltip"
                                                    [xaxis]="opexSectionPerMonthColumnChart.xaxis"
                                                    [colors]="opexSectionPerMonthColumnChart.colors"
                                                    dir="ltr"></apx-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <ngb-accordion #acc="ngbAccordion" [closeOthers]="false">
                                                <ngb-panel id="detailSectionData">
                                                    <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                                                        <h4 class="card-title mb-0">More Section Data</h4>
                                                    </ng-template>
                                                    <ng-template ngbPanelContent>
                                                        <div class="card">
                                                            <div class="card-header border-bottom-dashed p-3">
                                                                <ul ngbNav #Animation="ngbNav" [activeId]="activeTab" class="nav nav-pills animation-nav nav-justified gap-2">
                                                                    <li *ngFor="let tab of tabData" [ngbNavItem]="tab.id">
                                                                        <a ngbNavLink [name]="common.jsonToString(tab)" (click)="onBudgetActualTabChange($event)">
                                                                          {{ tab.name }}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-xl-4">
                                                                        <div class="card">
                                                                            <div class="card-header p-3">
                                                                                <h4 class="card-title mb-0">Top 5 Biggest {{ selectedSection.name }} OPEX</h4>
                                                                            </div>
                                                                            <div class="card-body table-responsive">
                                                                                <table class="table table-striped">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col">#</th>
                                                                                            <th scope="col">Chart Of Account</th>
                                                                                            <th scope="col">{{ isTabOpen.budget ? 'Budget' : 'Actual' }}</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let data of opexTop5BiggestItemData; let i = index">
                                                                                            <th scope="row">{{ i + 1 }}</th>
                                                                                            <td>
                                                                                                <div class="fs-6">
                                                                                                    <a class="text-reset">{{ data.opex }}</a>
                                                                                                </div>
                                                                                                <span class="fs-12 text-muted">{{ data.order }}</span>
                                                                                            </td>
                                                                                            <td>{{ common.getRupiahFormat(data.price) }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xl-8">
                                                                        <div class="card">
                                                                            <div class="card-header border-bottom-dashed align-items-center d-flex p-3">
                                                                                <h4 class="card-title mb-0 flex-grow-1">{{ selectedSection.name }} OPEX per Item</h4>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input" type="checkbox" [checked]="showTreemapLabels" id="showLabels" (change)="onTreemapShowLabels($event)">
                                                                                    <label class="form-check-label" for="showLabels">Show Labels</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="card-body">
                                                                                <apx-chart [series]="opexSectionPerItemTreemapChart.series"
                                                                                [chart]="opexSectionPerItemTreemapChart.chart" [tooltip]="opexSectionPerItemTreemapChart.tooltip"
                                                                                [dataLabels]="opexSectionPerItemTreemapChart.dataLabels"
                                                                                [plotOptions]="opexSectionPerItemTreemapChart.plotOptions"
                                                                                [title]="opexSectionPerItemTreemapChart.title" [legend]="opexSectionPerItemTreemapChart.legend"
                                                                                [colors]="opexSectionPerItemTreemapChart.colors" dir="ltr"></apx-chart>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngb-panel>
                                            </ngb-accordion>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyDashboard>
    <div class="card table-responsive p-3">
        <div class="text-center mt-3">
            <h4 class="card-title">Data not available</h4>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/images/file.png" alt="no-data" height="300">
        </div>
    </div>
</ng-template>