<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Supplies" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="d-flex justify-content-between align-items-center mb-2">
  <div class="me-2">
    <label>Factory Line</label>
    <select [disabled]="lineData.length <= 1" *ngIf="lineData" (change)="onFactoryLineChange($event)" class="form-select form-select"
      [(ngModel)]="selectedLine.lineId">
      <option *ngFor="let item of lineData" value="{{ item.id }}"> {{ item.name }} </option>
    </select>
  </div>
  <div>
    <label>Year</label>
    <div class="input-group">
      <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('prev')" type="button">
        <i class="ri ri-arrow-left-line"></i>
      </button>
      <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
      <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('next')" type="button">
        <i class="ri ri-arrow-right-line"></i>
      </button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <div class="row g-4" *ngIf="userData.role_name == 'Admin'">
      <div class="col-sm-auto">
        <div class="d-flex gap-1">
          <button *ngIf="!isTabOpen.comparison" (click)="openUpdateModal(importModal)" type="button" class="btn btn-primary add-btn" id="import-btn">
            <i class="ri-file-upload-line align-bottom me-1"></i> Import
          </button>
          <a *ngIf="suppliesData.length > 0" [href]="exportXlsxLink(year, selectedLine.lineId)" class="btn btn-info add-btn" id="export-btn">
            <i class="ri-file-excel-line align-bottom me-1"></i> Export
          </a>
          <button *ngIf="isTabOpen.budgetPlan" (click)="openUpdateModal(updateModal)" type="button" class="btn btn-success add-btn" id="create-btn">
            <i class="ri-add-line align-bottom me-1"></i> Add
          </button>
          <button class="btn btn-soft-danger" (click)="onDeleteSupplyBudget()"><i
              class="ri-delete-bin-2-line"></i></button>
        </div>
      </div>
      <div class="col-sm" *ngIf="suppliesData.length > 0">
        <div class="d-flex justify-content-sm-end">
          <div class="search-box ms-2">
            <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchKeyword" />
            <i class="ri-search-line search-icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-3 mt-2" *ngIf="suppliesData.length > 0">
      <div class="col-xxl-2 col-sm-6" *ngIf="userData.role_name !== 'Admin'">
        <label>Search</label>
        <div class="search-box ms-2">
          <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchKeyword" />
          <i class="ri-search-line search-icon"></i>
        </div>
      </div>
      <div class="col-xxl-2 col-sm-6">
        <label for="monthFilter">Month Filter</label>
        <select (change)="onSupplyFilter($event)" id="monthFilter" class="form-select" [(ngModel)]="selectedMonthFilter">
          <option value="-1" class="text-muted">All</option>
          <option *ngFor="let month of monthData" value="{{ month }}">{{ common.getMonthName(month) }}</option>
        </select>
      </div>
      <div class="col-xxl-3 col-sm-6" *ngIf="sectionData">
        <label for="sectionFilter">Cost Center / Section</label>
        <select (change)="onSupplyFilter($event)" id="sectionFilter" class="form-select" [(ngModel)]="selectedSectionFilter">
          <option value="-1" class="text-muted">All</option>
          <option *ngFor="let section of sectionData" value="{{ section.cost_ctr_id }}">{{ section.cost_center }} - {{ section.section }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-body">
    <ul ngbNav #Animation="ngbNav" [activeId]="activeTab" class="nav nav-pills animation-nav nav-justified gap-2 mb-3">
      <li *ngFor="let tab of tabData" [ngbNavItem]="tab.id">
          <a ngbNavLink [name]="common.jsonToString(tab)" (click)="onTabChange($event)">
            {{ tab.name }}
          </a>
      </li>
    </ul>
    <div *ngIf="suppliesData.length > 0;else budgetingNotFound" class="table-responsive">
      <table class="table table-nowrap table-hover">
        <thead class="table-light">
          <tr *ngIf="isTabOpen.budgetPlan">
            <th scope="col">
              <div class="form-check">
                <input (change)="onChecklistAll($event)" class="form-check-input" type="checkbox" value="0" id="check">
                <label class="form-check-label" for="check"></label>
              </div>
            </th>
            <th *ngFor="let item of budgetPlanTableCol" class="{{ item.name ? 'sort' : '' }}" scope="col" (click)="sort(item)">{{ item.col }}</th>
          </tr>
          <tr *ngIf="isTabOpen.actual">
            <th *ngFor="let item of budgetActualTableCol" class="{{ item.name ? 'sort' : '' }}" scope="col" (click)="sort(item)">{{ item.col }}</th>
          </tr>
          <tr *ngIf="isTabOpen.comparison">
            <th *ngFor="let item of comparisonTableCol" class="{{ item.name ? 'sort' : '' }}"  scope="col" (click)="sort(item)">{{ item.col }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of supplies(); let i = index">
            <td *ngIf="isTabOpen.budgetPlan">
              <div class="form-check">
                <input [(ngModel)]="data.is_selected" (change)="onCheckedSupplyBudget($event)" class="form-check-input"
                  name="check_{{data.budget_id}}" type="checkbox" value="{{ data.budget_id }}"
                  id="check_{{data.budget_id}}">
                <label class="form-check-label" for="check_{{data.budget_id}}"></label>
              </div>
            </td>
            <td *ngIf="!isTabOpen.budgetPlan">{{ i + 1 }}</td>
            <td>
              <div class="fs-6">
                <a class="text-reset">{{ data.section }}</a>
              </div>
              <span class="fs-7 text-muted">{{ data.cost_center }}</span>
            </td>
            <td>{{ data.material_code }}</td>
            <td>
              <a class="text-reset" [routerLink]="['../supplies/detail/'+ data.material_code]" [queryParams]="{ budgetId: data.budget_id }">{{ data.material_desc }}</a>
            </td>
            <td *ngIf="isTabOpen.budgetPlan">
              <div class="fs-6">
                <a class="text-reset">{{ data.calculation_by }}</a>
              </div>
              <span *ngIf="data.calculation_by == 'Prodplan'" class="fs-7 text-muted">(Per 1000 Btl)</span>
            </td>
            <td>{{ data.uom }}</td>
            <td *ngIf="isTabOpen.budgetPlan">{{ common.replaceDotWithComma(data.bom) }}</td>
            <td *ngIf="!isTabOpen.comparison">{{ common.formatDecimal(common.sumElementFromArray(data.budgeting_data, "quantity")) }}</td>
            <td *ngIf="!isTabOpen.comparison">{{ common.getRupiahFormat(common.sumElementFromArray(data.budgeting_data, "price")) }}</td>
            <td *ngIf="isTabOpen.comparison">{{ common.formatDecimal(common.sumElementFromArray(data.budgeting_data, "plan_qty")) }}</td>
            <td *ngIf="isTabOpen.comparison">{{ common.formatDecimal(common.sumElementFromArray(data.budgeting_data, "actual_qty")) }}</td>
            <td *ngIf="isTabOpen.comparison">{{ common.getRupiahFormat(common.sumElementFromArray(data.budgeting_data, "plan_price")) }}</td>
            <td *ngIf="isTabOpen.comparison">{{ common.getRupiahFormat(common.sumElementFromArray(data.budgeting_data, "actual_price")) }}</td>
            <td *ngIf="isTabOpen.comparison" [ngClass]="setActualPlanPercentage(common.sumElementFromArray(data.budgeting_data, 'plan_price'), common.sumElementFromArray(data.budgeting_data, 'actual_price')) > 0 ? 'text-danger' : 'text-success'" >
              <i class="ri ri-arrow-right-{{ setActualPlanPercentage(common.sumElementFromArray(data.budgeting_data, 'plan_price'), common.sumElementFromArray(data.budgeting_data, 'actual_price')) > 0 ? 'up' : 'down' }}-line fs-17 align-middle"></i>
              {{ setActualPlanPercentage(common.sumElementFromArray(data.budgeting_data, "plan_price"), common.sumElementFromArray(data.budgeting_data, "actual_price")).toFixed(2) }}%
            </td>
            <td>
              <div class="dropdown" ngbDropdown>
                <a href="javascript:void(0);" class="arrow-none" role="button" id="dropdownMenuLink4"
                  data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                  <i class="ri-more-2-fill"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink4" ngbDropdownMenu>
                  <li><a class="dropdown-item" (click)="openDetailModal(detailModal, data)"
                      href="javascript:void(0);"><i class="ri ri-eye-line me-2"></i>Detail</a></li>
                  <li *ngIf="isTabOpen.budgetPlan && userData.role_name == 'Admin'"><a class="dropdown-item" (click)="openUpdateModal(updateModal, data)"
                      href="javascript:void(0);"><i class="ri ri-edit-2-line me-2"></i>Edit</a></li>
                  <li *ngIf="isTabOpen.budgetPlan && userData.role_name == 'Admin'"><a class="dropdown-item" (click)="onDeleteSupplyBudget(data)"
                      href="javascript:void(0);"><i class="ri ri-delete-bin-line me-2"></i>Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot class="table-light">
          <tr *ngIf="isTabOpen.budgetPlan">
            <td colspan="8">Total Price</td>
            <td>{{ common.getRupiahFormat(planPrice) }}</td>
            <td></td>
          </tr>
          <tr *ngIf="isTabOpen.actual">
            <td colspan="6">Total Price</td>
            <td>{{ common.getRupiahFormat(actualPrice) }}</td>
            <td></td>
          </tr>
          <tr *ngIf="isTabOpen.comparison">
            <td colspan="7">Total Price</td>
            <td>{{ common.getRupiahFormat(planPrice) }}</td>
            <td>{{ common.getRupiahFormat(actualPrice) }}</td>
            <td colspan="2"></td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>

<ng-template #detailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Detail #{{ detailModalForm.concatenate }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-2">
          <div class="row g-3">
            <div class="col-md-4 col-sm-6" *ngFor="let item of detailModalForm.budgetingData">
              <p class="mb-2 text-uppercase fw-semibold">{{ common.getMonthName(item.month) }}</p>
              <ng-container *ngIf="isTabOpen.budgetPlan || isTabOpen.actual">
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Quantity </div>
                  <div class="fs-6">{{ common.formatDecimal(item.quantity) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Value ($) </div>
                  <div class="fs-6">{{ common.getRupiahFormat(item.price) }}</div>
                </div>
              </ng-container>
              <ng-container *ngIf="isTabOpen.budgetPlan">
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Prodplan </div>
                  <div class="fs-6">{{ common.formatDecimal(item.prodplan) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Total Week </div>
                  <div class="fs-6">{{ item.total_week }}</div>
                </div>
              </ng-container>
              <ng-container *ngIf="isTabOpen.comparison">
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Plan Quantity </div>
                  <div class="fs-6">{{ common.formatDecimal(item.plan_qty)}}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Actual Quantity </div>
                  <div class="fs-6">{{ common.formatDecimal(item.actual_qty) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Plan Value ($) </div>
                  <div class="fs-6">{{ common.getRupiahFormat(item.plan_price) }}</div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="fs-12 text-muted">Actual Value ($) </div>
                  <div class="fs-6">{{ common.getRupiahFormat(item.actual_price) }}</div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="modal.close('Close click')" class="btn btn-primary" routerLink="../supplies/detail/{{ detailModalForm.materialCode }}" [queryParams]="{ budgetId: budgetId }">See More</a>
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #updateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ budgetId ? 'Edit' : 'Add New' }} Supply Budgeting</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-2">
          <div class="row g-3">
            <div class="col-md-3 col-sm-6">
              <label>Section / Cost Center</label>
              <select class="form-select" [(ngModel)]="selectedCostCenter.id">
                <option *ngFor="let item of costCenterData" value="{{ item.id }}">{{ item.section }} ({{ item.cost_ctr }})</option>
              </select>
            </div>
            <div class="col-md-3 col-sm-6">
              <label for="typeahead-http">Material</label>
              <input id="typeahead-http" type="text" class="form-control" (ngModelChange)="onMaterialFormSearch($event)"
                [(ngModel)]="material" [ngbTypeahead]="searchMaterial" [editable]="false"
                [inputFormatter]="materialFormatter" [resultFormatter]="materialFormatter"
                placeholder="Search for material" />
              <small *ngIf="materialSearching" class="form-text text-muted">Searching...</small>
              <small *ngIf="searchLength" class="form-text text-muted">Type at least {{ 3 - searchLength }} more
                character</small>
              <small *ngIf="!isNotHaveAveragePrice && avgPrice && !materialSearching && material" class="form-text text-muted">Average price ({{ _year }}) : 
               <span class="text-info">{{ common.getRupiahFormat(avgPrice) }}</span></small>
            </div>
            <div class="col-md-3 col-sm-6">
              <label for="calculationMethod">Calculation By</label>
              <select (change)="onCalculationBudgetChange($event)" id="calculationMethod" class="form-select"
                [(ngModel)]="selectedCalculationBy.id">
                <option *ngFor="let item of calculationData" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-md-3 col-sm-6">
              <label for="bom">BOM</label>
              <input [(ngModel)]="bom" placeholder="Input BOM" type="number" class="form-control" id="bom" name="bom">
            </div>
            <div *ngIf="isNotHaveAveragePrice" class="col-md-3 col-sm-6">
              <label for="avgPrice">Average Price ({{ _year }})</label>
              <div class="input-group">
                <span class="input-group-text">Rp</span>
                <input [(ngModel)]="avgPrice" placeholder="Input average price" type="number" class="form-control"
                id="avgPrice" name="avgPrice">
              </div>
            </div>
            <div class="mt-2">
              <small *ngIf="isNotHaveAveragePrice && !avgPrice" class="form-text text-danger">*The selected material
                does not have an average price in {{ _year }}. Please fill in the average price column first!</small>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
    <button type="button" class="btn btn-success" (click)="onAddSupply()">Save</button>
  </div>
</ng-template>

<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Import {{ isTabOpen.actual ? 'Actual' : 'Plan' }} Supplies</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ul *ngIf="isTabOpen.budgetPlan" (navChange)="onImportModalNavChange()" ngbNav #Bordered="ngbNav" [(activeId)]="activeTabImport"
      class="nav nav-tabs nav-tabs-custom nav-success nav-justified mb-3">
      <li [ngbNavItem]="'Add'">
        <a ngbNavLink>New Supplies</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li [ngbNavItem]="'Update'">
        <a ngbNavLink>Update Supplies (BOM)</a>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    </ul>
    <ng-container [ngTemplateOutlet]="importAdd"></ng-container>
    <ng-template #importAdd>
      <div class="mb-3">
        <label for="file" class="form-label">Select file to {{ activeTabImport === 'Update' ? 'update' : 'import' }}</label>
        <input class="form-control" id="file" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" [(ngModel)]="uploadedFilename" (change)="onXLSXFileChange($event)">
      </div>
      <small>
        <a [href]="activeTabImport === 'Update' ? importSuppliesUpdateLink(year, selectedLine.lineId) : (isTabOpen.actual ? actualXlsxLink : planXlsxLink)">Download XLSX  {{ activeTabImport === 'Update' ? 'update' : 'import' }} template</a>
      </small>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
    <button *ngIf="!isLoading" type="button" class="btn btn-success" (click)="activeTabImport === 'Update' ? uploadUpdatedSupplyBudgetXlsx() : onImportActualSupply(isTabOpen.actual ? 'Actual' : 'Plan')" [disabled]="!uploadedFiles">Import</button>
    <button *ngIf="isLoading" type="button" class="btn btn-success btn-load" disabled>
      <span class="d-flex align-items-center">
          <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">Loading...</span>
          </span>
          <span class="flex-grow-1 ms-2">
              Loading...
          </span>
      </span>
    </button>
</div>
</ng-template>

<ng-template #importDetailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Import Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="notInclude.lineSection?.length != 0;else alertProblem">
      <div class="mb-3">
        <label for="">Not Included Section (Outside of Production Line)</label>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.lineSection">
              {{ item.section }} <span class="ms-1 text-muted"><small>({{ item.cost_ctr }})</small></span>
          </li>
        </ol>
      </div>
      <small *ngIf="notInclude.lineSection?.length != 0" class="text-warning mt-4">*Data with the following Section cannot be added because the Section has not been / is not registered with the Production Line.</small>
      <div class="mb-3 mt-3" *ngIf="notInclude.materialInvalid?.length != 0">
        <label>Not included Material (Invalid Code)</label>
        <ol *ngIf="isTabOpen.actual" class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.materialInvalid">
              {{ item.material_desc }} <span class="ms-1 text-muted"><small>({{ item.material_code }})</small></span>
          </li>
        </ol>
      </div>
      <small *ngIf="notInclude.materialInvalid?.length != 0" class="text-warning mt-4">*The material above cannot be added because it has an invalid material code.</small>
    </ng-container>
    <ng-template #alertProblem>
      <div class="mb-3" *ngIf="notInclude.duplicateSupply?.length != 0">
        <label>Duplicates Supply Found</label>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.duplicateSupply"> {{ item.material_desc }}
            <span class="ms-1 text-secondary"><small>/ {{ item.cost_ctr }}-{{ item.material_code }}</small></span>
            <span class="ms-1 text-muted"><small>({{ item.year }})</small></span>
          </li>
        </ol>
      </div>
      <div class="mb-3" *ngIf="notInclude.prodplan?.length != 0">
        <label>Unplanned Prodplan</label>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of notInclude.prodplan;let i = index">
            {{ i + 1 }}. {{ item.line }} ({{ item.year }}) 
            <span class="ms-1 text-muted">
              <a (click)="modalService.dismissAll()" [routerLink]="['../prodplan']" [queryParams]="{lineId: item.line_id, year: item.year}">Create</a>
            </span>
          </li>
        </ul>
      </div>
      <div class="mb-3" *ngIf="notInclude.calculation?.length != 0">
        <label>Undefined Calculation Method</label>
        <ol class="list-group list-group-numbered">
          <li ngFor class="list-group-item" *ngFor="let item of notInclude.calculation">{{ item }}</li>
        </ol>
      </div>
      <div class="mb-3" *ngIf="notInclude.costCenter?.length != 0">
        <label>Undefined Cost Center</label>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.costCenter">{{ item }}</li>
        </ol>
      </div>
      <div class="mb-3" *ngIf="notInclude.material?.length != 0">
        <label>Undefined Material</label>
        <ol *ngIf="isTabOpen.actual" class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.material">
              {{ item.material_desc }} <span class="ms-1 text-muted"><small>({{ item.material_code }})</small></span>
          </li>
        </ol>
        <ol *ngIf="isTabOpen.budgetPlan" class="list-group list-group-numbered">
          <li class="list-group-item" *ngFor="let item of notInclude.material">{{ item }}</li>
        </ol>
      </div>
      <small class="text-danger">*You must fix or add the above data into the Master Data before proceeding.</small>
    </ng-template>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.dismiss()">Close</button>
    </div>
  </div>
</ng-template>

<ng-template #budgetingNotFound>
  <div class="container p-3">
    <div class="d-flex justify-content-center mb-1">
      <h3>Empty</h3>
    </div>
    <div class="d-flex justify-content-center mb-3">
      <a class="text-muted" *ngIf="isTabOpen.budgetPlan">Budgeting data on factory line {{ selectedLine.lineName }} in {{ _year }} has not been
        planned yet.</a>
      <a class="text-muted" *ngIf="isTabOpen.actual">Actual data on factory line {{ selectedLine.lineName }} in {{ _year }} are not available.</a>
      <a class="text-muted" *ngIf="isTabOpen.comparison">Cannot compare because budgeting data is empty.</a>
    </div>
    <div class="d-flex justify-content-center" *ngIf="isTabOpen.budgetPlan && userData.role_name == 'Admin'">
      <button type="button" class="btn btn-soft-primary" (click)="openPrevModal(prevmodal)">Copy Data From Previous Year</button>
    </div>
  </div>
</ng-template>

<ng-template #prevmodal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Get Previous Year's Supplies</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
      <form>
          <div class="mb-3">
              <label for="percentage">BOM percentage</label>
              <div class="input-group">
                  <input [(ngModel)]="prevBomPercentage" type="number" class="form-control" id="percentage" name="percentage">
                  <span class="input-group-text">%</span>
              </div>
              <div class="fs-6">
                <small>The BOM of each supply in {{ _year }} will be <span class="text-primary"><b>{{ prevBomPercentage }}%</b></span> of the previous year.</small>
              </div>
              <span class="fs-7 text-muted">
                <small>*The quantity and price of each supply will be generated based on selected year's prodplan and BOM percentage.</small>
              </span>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.dismiss()">Cancel</button>
      <button [disabled]="isLoading || prevBomPercentage <= 0" type="button" class="btn btn-success" (click)="onPreviousFetchData()">Get</button>
  </div>
</ng-template>