<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Detail Supply" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row" *ngIf="materialData">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Detail</h4>
            </div>
            <div class="card-body">
                <table class="table mb-0">
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 200px;">Material Code</th>
                            <td>
                                <div>{{ materialData.material_code }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Material Description</th>
                            <td>
                                <div>{{ materialData.material_desc }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">UOM</th>
                            <td>
                                <div>{{ materialData.uom }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Latest Average Price</th>
                            <td>{{ common.getRupiahFormat(getLatestAveragePrice(detailPrice)) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Average Price History</h4>
                    </div>
                    <div class="card-body">
                        <ngx-simplebar class="p-3" style="max-height: 364px;">
                            <div *ngIf="detailPrice.length > 0;else avgIsEmpty"
                                class="acitivity-timeline acitivity-main">
                                <div *ngFor="let price of detailPrice; let i = index"
                                    class="acitivity-item d-flex {{ common.isFirstOrLastIndex(detailPrice, price) ? '' : 'py-2' }}">
                                    <!--py3-->
                                    <ng-container *ngIf="!price.is_removed">
                                        <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                            <div class="avatar-title bg-soft-secondary text-secondary rounded-circle">
                                                <i class="ri-money-dollar-circle-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1">{{ price.year }}</h6>
                                            <p class="mb-1">{{ common.getRupiahFormat(price.average_price || 0) }} </p>
                                            <div class="mb-1"
                                                [ngClass]="setAveragePricePercentage(i === detailPrice.length - 1 ? 0 : detailPrice[i + 1].average_price || 0 , price.average_price!) > 0 ? 'text-danger' : 'text-success'">
                                                <i
                                                    class="ri ri-arrow-right-{{ setAveragePricePercentage(i === detailPrice.length - 1 ? 0 : detailPrice[i + 1].average_price || 0, detailPrice[i].average_price!) > 0 ? 'up' : 'down' }}-line fs-17 align-midetailPricele"></i>
                                                {{ setAveragePricePercentage(i === detailPrice.length - 1 ? 0 :
                                                detailPrice[i +
                                                1].average_price || 0, detailPrice[i].average_price!).toFixed(2) }}%
                                            </div>
                                            <div class="mb-2">
                                                <small class="text-muted">Last updated: {{
                                                    common.getLocaleDate(price.updated_at!) }} {{
                                                    common.getTime(price.updated_at!) }}</small>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-template #avgIsEmpty>
                                <div class="d-flex justify-content-center">
                                    <h5 class="text-muted">Average price history is empty.</h5>
                                </div>
                            </ng-template>
                        </ngx-simplebar>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Actual Transaction History</h4>
                        <div class="me-2">
                            <small class="mb-1">Date</small>
                            <input [(ngModel)]="dateRange" class="form-control form-control-sm flatpickr-input"
                                type="text" placeholder="{{ datePlaceholder }}" mwlFlatpickr
                                (change)="onChangeDateRange($event)" [altInput]="true" [convertModelValue]="true"
                                mode="range">
                        </div>
                        <div class="me-2">
                            <small class="mb-1">Line</small>
                            <select [disabled]="lineData.length <= 1" class="form-select form-select-sm" (change)="onFactoryLineChange($event)"
                                [ngModel]="budgetData.lineId">
                                <option *ngIf="isAllAccessGranted" value="-1">All</option>
                                <option *ngFor="let line of lineData" [value]="line.id">{{ line.name }}</option>
                            </select>
                        </div>
                        <div>
                            <small class="mb-1">Section</small>
                            <select [disabled]="isAllLineSelected" class="form-select form-select-sm" [ngModel]="budgetData.costCtrId"
                                (change)="onSectionChange($event)">
                                <option value="-1">All</option>
                                <option *ngFor="let item of costCenterData" [value]="item.id">{{ item.section }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <ngx-simplebar class="p-3" style="max-height: 500px;">
                            <div *ngIf="actualTransactionData.length > 0;else athIsEmpty"
                                class="acitivity-timeline acitivity-main">
                                <div *ngFor="let actual of actualTransactionData; let i = index"
                                    class="acitivity-item d-flex {{ common.isFirstOrLastIndex(actualTransactionData, actual) ? '' : 'py-2' }}">
                                    <!--py3-->
                                    <ng-container *ngIf="!actual.is_removed">
                                        <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                            <div class="avatar-title bg-soft-secondary text-secondary rounded-circle">
                                                <i class="ri-money-dollar-circle-line"></i>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1">{{ common.getLocaleDate(actual.entry_datetime) }} </h6>
                                            <small class="text-muted mb-1">{{ actual.section }} ({{ actual.cost_center
                                                }})</small>
                                            <p class="mb-1 text-danger">-{{ +actual.quantity }} {{ materialData.uom }}
                                            </p>
                                            <p class="mb-1">{{ common.getRupiahFormat(+actual.price || 0) }} </p>
                                            <br>
                                            <!-- <div class="mb-1" 
                                                [ngClass]="setAveragePricePercentage(i === detailPrice.length - 1 ? 0 : detailPrice[i + 1].average_price || 0 , price.average_price!) > 0 ? 'text-danger' : 'text-success'" >
                                                <i class="ri ri-arrow-right-{{ setAveragePricePercentage(i === detailPrice.length - 1 ? 0 : detailPrice[i + 1].average_price || 0, detailPrice[i].average_price!) > 0 ? 'up' : 'down' }}-line fs-17 align-midetailPricele"></i>
                                                {{ setAveragePricePercentage(i === detailPrice.length - 1 ? 0 : detailPrice[i + 1].average_price || 0, detailPrice[i].average_price!).toFixed(2) }}%
                                            </div>
                                            <div class="mb-2">
                                                <small class="text-muted">Last updated: {{ common.getLocaleDate(price.updated_at!) }} {{ common.getTime(price.updated_at!) }}</small>
                                            </div> -->
                                        </div>
                                        <div class="flex-grow-2">
                                            <a href="javascript:void(0)" class="mt-1 mb-3 text-primary" (click)="openModal(detailModal, actual)">Detail</a>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-template #athIsEmpty>
                                <div class="d-flex justify-content-center">
                                    <h5 class="text-muted">Actual Transaction History in 
                                        {{  common.getLocaleDate(dateRange.from) }}{{ dateRange.to ? ' to ' + common.getLocaleDate(dateRange.to) : '' }} is empty.
                                    </h5>
                                </div>
                            </ng-template>
                        </ngx-simplebar>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div>
                                Total:
                            </div>
                            <div>
                                {{ common.getRupiahFormat(common.sumElementFromArray(actualTransactionData, 'price')) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="budgetId">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Budget Usage per Month</h4>
                <div class="me-2">
                    <small class="mb-1">Year</small>
                    <input type="number" class="form-control form-control-sm" [(ngModel)]="budgetData.year" (change)="onYearChange()">
                </div>
                <div>
                    <small class="mb-1">Section</small>
                    <select class="form-select form-select-sm" [(ngModel)]="selectedUsageSection"(change)="onUsageSectionChange($event)">
                        <optgroup *ngFor="let line of usageSectionData" label="{{ line.line }}">
                            <option *ngFor="let section of line.sections" [value]="common.jsonToString({cost_ctr_id: section.id, line_id: line.line_id})">
                                {{ section.section }}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="card-body p-3">
                <div class="row g-3" *ngIf="mergeBudgetActualData">
                    <div class="col-xxl-6" *ngFor="let item of mergeBudgetActualData.budgeting_data">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <p class="mb-0 text-uppercase fw-semibold">{{ common.getMonthName(item.month) }}</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-2">
                                            <div class="fs-12 text-muted">Budget Quantity </div>
                                            <div class="fs-6">{{ common.formatDecimal(+item.plan_qty)}}</div>
                                        </div>
                                        <div class="mb-2">
                                            <div class="fs-12 text-muted">Actual Quantity </div>
                                            <div class="fs-6">{{ common.formatDecimal(+item.actual_qty) }}</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-2">
                                            <div class="fs-12 text-muted">Budget Value ($) </div>
                                            <div class="fs-6">{{ common.getRupiahFormat(+item.plan_price) }}</div>
                                        </div>
                                        <div class="mb-2">
                                            <div class="fs-12 text-muted">Actual Value ($) </div>
                                            <div class="fs-6">{{ common.getRupiahFormat(+item.actual_price) }}</div>
                                            <span><small
                                                    class="text-{{ setActualBudgetPercentage(+item.plan_price, +item.actual_price) > 100 ? 'danger' : 'primary' }}">({{
                                                    setActualBudgetPercentage(+item.plan_price,
                                                    +item.actual_price).toFixed(2) }}%)</small></span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center" *ngIf="!mergeBudgetActualData && usageSectionData.length > 0">
                    <h5 class="text-muted">The material budget used for {{ showSectionName() }} in {{ budgetData.year }} is empty</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row p-2">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="text-muted fw-semibold">Material</div>
                <div>{{ materialData.material_desc }}</div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let key of modalKeys">
                <div class="text-muted fw-semibold">{{ key.title }}</div>
                <div>{{ modalData[key.key] || '-' }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>