<ngx-loading [show]="isLoading"></ngx-loading>
<app-breadcrumbs title="Master OPEX" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card">
    <div class="card-header">
        <div class="row g-4">
            <div class="col-sm-auto">
                <div class="d-flex gap-1">
                    <a [href]="opexXlsxLink" class="btn btn-info add-btn" id="export-btn">
                        <i class="ri-file-excel-line align-bottom me-1"></i> Export
                    </a>
                    <button type="button" class="btn btn-success add-btn" id="create-btn" (click)="openModal(content)">
                        <i class="ri-add-line align-bottom me-1"></i> Add
                    </button>
                </div>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                    <div class="row row-cols-lg-auto g-1 align-items-center me-2">Show</div>
                    <div>
                        <select class="form-select" [(ngModel)]="pageSize" (change)="searchSubject.next(searchTerm)">
                            <option [value]="10">10</option>
                            <option [value]="25">25</option>
                            <option [value]="50">50</option>
                            <option [value]="100">100</option>
                        </select>
                    </div>
                    <div class="row row-cols-lg-auto g-1 align-items-center ms-2 me-2">Entries</div>
                    <div class="search-box ms-2">
                        <input type="text" class="form-control search" placeholder="Search..." [(ngModel)]="searchTerm"
                            (input)="searchSubject.next(searchTerm)" />
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="sort" (click)="onSort('order')">Number</th>
                    <th scope="col" class="sort" (click)="onSort('name')">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="opexData.length > 0">
                <tr *ngFor="let data of opexData; let i = index">
                    <th scope="row">{{ calculateStartingIndex(i) }}</th>
                    <td>{{ data.order }}</td>
                    <td>{{ data.name }}</td>
                    <td>
                        <a ngbTooltip="Edit" placement="start" class="mt-1 mb-1 btn btn-sm btn-soft-success me-2"
                            (click)="openModal(content, data)">
                            <i class="ri ri-edit-2-line"></i>
                        </a>
                        <button ngbTooltip="Delete" placement="end" type="button"
                            class="mt-1 mb-1 btn btn-soft-danger btn-sm" (click)="onDeleteOpex(data.id)">
                            <i class="ri ri-delete-bin-line"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="3" [(page)]="currentPage" [pageSize]="pageSize"
                (pageChange)="
          searchOpexByPagination(searchTerm, currentPage, pageSize)">
            </ngb-pagination>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ opexId ? 'Update' : ' Add' }} OPEX</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-2">
                    <div class="row g-3">
                        <div class="col-lg-6">
                            <label class="form-label">Order</label>
                            <input [(ngModel)]="form.order" placeholder="Input OPEX Order" type="number"
                                class="form-control">
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Name</label>
                            <input [(ngModel)]="form.name" placeholder="Input OPEX Description" type="text"
                                class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <small *ngIf="isFormInvalid" class="form-text text-danger">Please fill all the field above!</small>
        <button type="button" class="btn btn-success" (click)="onSaveChanges()">Save</button>
    </div>
</ng-template>