<ngx-loading [show]="isLoading"></ngx-loading>
<div class="row mb-4 g-4 d-flex justify-content-between align-items-center">
    <div class="col-sm-auto">
        <div class="d-flex gap-1">
            <h3 class="mb-0">Dashboard</h3>
        </div>
        
    </div>
    
    <div class="col-sm-auto">
        <div class="row row-cols-lg-auto g-1 align-items-center">
            <div class="me-2">
                <label>Type</label>
                <select class="form-select" (change)="onDashboardTypeChange($event)">
                    <option value="Supplies" selected>Supplies</option>
                    <option value="OPEX">OPEX</option>
                </select>
            </div>
            <div>
                <label>Year</label>
                <div class="input-group">
                    <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('prev')" type="button">
                        <i class="ri ri-arrow-left-line"></i>
                    </button>
                    <input type="number" (change)="onYearChange($event)" class="form-control" [(ngModel)]="year" />
                    <button class="btn btn-sm btn-primary" (click)="onButtonChangeYear('next')" type="button">
                        <i class="ri ri-arrow-right-line"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isBudgetNotEmpty;else emptyDashboard">
    <ng-container *ngIf="factoryLineBudgetColumnChart && factoryLineBudgetData.rawData?.length != 0">
        <div *ngIf="isAllAccessGranted" class="row">
            <div class="col-md-6 col-sm-12">
                <div class="card card-animate bg-primary">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <p class="text-uppercase fw-semibold text-white-50 mb-0">Factory Total Budget</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                    <span class="counter-value">{{ common.getRupiahFormat(totalFactoryBudget) }}</span>
                                </h4>
                                <!-- <a class="text-decoration-underline text-white-50">See details</a> -->
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                    <i class="ri ri-money-dollar-circle-fill text-light"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card card-animate bg-success">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <p class="text-uppercase fw-semibold text-white-50 mb-0">Factory Total Actual</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-end justify-content-between mt-4">
                            <div>
                                <h4 class="fs-22 fw-semibold ff-secondary mb-4 text-white">
                                    <span class="counter-value">{{ common.getRupiahFormat(totalFactoryActual) }}</span>
                                </h4>
                                <!-- <a class="text-decoration-underline text-white-50">See details</a> -->
                            </div>
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-soft-light rounded fs-3 shadow">
                                    <i class="ri ri-exchange-dollar-fill text-light"></i>
                                </span>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div>
        </div>
        <div *ngIf="isAllAccessGranted" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header align-items-center d-flex p-3">
                        <h4 class="card-title mb-0 flex-grow-1">Budget per Line</h4>
                        <div class="form-check" *ngIf="isLastYearLineActualNotEmpty || isLastYearLineBudgetNotEmpty">
                            <input class="form-check-input" type="checkbox" [checked]="isCompareLastYearLineBudget" id="showYearCompareLine" (change)="onLastYearLineShowComparison($event)">
                            <label class="form-check-label" for="showYearCompareLine">Show Last Year's Comparison</label>
                        </div>
                    </div><!-- end card header -->
        
                    <div class="card-body">
                        <apx-chart [series]="factoryLineBudgetColumnChart.series" [chart]="factoryLineBudgetColumnChart.chart"
                            [dataLabels]="factoryLineBudgetColumnChart.dataLabels"
                            [plotOptions]="factoryLineBudgetColumnChart.plotOptions"
                            [yaxis]="factoryLineBudgetColumnChart.yaxis" [legend]="factoryLineBudgetColumnChart.legend"
                            [fill]="factoryLineBudgetColumnChart.fill" [stroke]="factoryLineBudgetColumnChart.stroke"
                            [tooltip]="factoryLineBudgetColumnChart.tooltip" [xaxis]="factoryLineBudgetColumnChart.xaxis"
                            [colors]="factoryLineBudgetColumnChart.colors" dir="ltr"></apx-chart>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <div class="col-12 mb-4">
                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" [activeIds]="''">
                    <ngb-panel id="prodplanLine">
                        <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                            <h4 class="card-title mb-0">Show Prodplan / Finished Goods per Line</h4>    
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="card-header card-header align-items-center d-flex p-3">
                                <h4 class="card-title mb-0 flex-grow-1"></h4>
                                <div class="form-check" *ngIf="prodplanLastYearLineData.length > 0">
                                    <input class="form-check-input" type="checkbox" [checked]="isCompareLastYearPPLine" id="showYearCompareLine" (change)="onLastYearProdplanShowComparison('Line', $event)">
                                    <label class="form-check-label" for="showYearCompareLine">Show Last Year's Comparison</label>
                                </div>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <apx-chart [series]="prodplanLineColumnChart.series"
                                [chart]="prodplanLineColumnChart.chart"
                                [dataLabels]="prodplanLineColumnChart.dataLabels"
                                [plotOptions]="prodplanLineColumnChart.plotOptions"
                                [yaxis]="prodplanLineColumnChart.yaxis"
                                [legend]="prodplanLineColumnChart.legend"
                                [fill]="prodplanLineColumnChart.fill"
                                [stroke]="prodplanLineColumnChart.stroke"
                                [tooltip]="prodplanLineColumnChart.tooltip"
                                [xaxis]="prodplanLineColumnChart.xaxis"
                                [colors]="prodplanLineColumnChart.colors"
                                dir="ltr"></apx-chart>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
        <div #line class="row" *ngIf="lineData.length > 0;else emptyDashboard">
            <div class="col">
                <div class="card bg-light p-3">
                    <div class="card-header border-bottom-dashed align-items-center d-flex">
                        <h4 class="mb-0 flex-grow-1">Line: <span class="text-primary">{{ selectedLine.name }}</span></h4>
                        <div *ngIf="lineData.length > 1">
                            <div class="dropdown" ngbDropdown>
                                <button class="btn btn-soft-primary btn-sm arrow-none" href="javascript:void(0);"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                    <span class="text-uppercase">{{ selectedLine.name }}<i
                                            class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <a *ngFor="let item of lineData" class="dropdown-item" (click)="onFactoryLineChange($event)" href="javascript:void(0);" [id]="common.jsonToString(item)">{{ item.line }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body bg-soft-light">
                        <!-- <div class="row g-0 text-center shadow-sm p-1" style="border-radius: 4px;">
        
                        </div> -->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" [activeIds]="isAllAccessGranted ? 'prodplan' : ''">
                                        <ngb-panel id="prodplan">
                                            <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                                                <h4 class="card-title mb-0">{{ isAllAccessGranted ? 'Prodplan / Finished Goods' : 'Show Prodplan / Finished Goods' }}</h4>    
                                            </ng-template>
                                            <ng-template ngbPanelContent>
                                                <ngx-simplebar class="p-3">
                                                    <div class="row g-0 text-center">
                                                        <div class="col-lg-2 col-md-3 col-sm-4" *ngFor="let data of prodplanData">
                                                            <div class="p-3 border border-dashed border-start-0">
                                                                <a class="fw-bold mb-2 text-uppercase">{{ common.getMonthName(data.month!) }}</a>
                                                                <h5 class="mb-1"><span><small>{{ common.formattedNumber(data.actual!) }}</small></span>
                                                                    <span class="text-{{ setProdplanPercentage(data.prodplan!, data.actual!) >= 0 ? 'success' : 'danger' }} ms-1 fs-12">{{ setProdplanPercentage(data.prodplan!, data.actual!).toFixed(2) }}%<i
                                                                           *ngIf="setProdplanPercentage(data.prodplan!, data.actual!) !== 0" class="ri-arrow-right-{{ setProdplanPercentage(data.prodplan!, data.actual!) < 0 ? 'down' : 'up' }}-line ms-1 align-middle"></i></span>
                                                                </h5>
                                                                <small class="text-muted mb-0">From planning of <span class="fw-semibold">{{ common.formattedNumber(common.roundNumber(data.prodplan!)) }}</span></small>
                                                                <div class="mt-2 bg-light p-2">
                                                                    <small class="text-muted">Actual
                                                                        <span>
                                                                            <h6><span><small>{{ common.getRupiahFormat(data.budgetActual!) }}</small></span>
                                                                                <span class="text-{{ setProdplanPercentage(data.budgetPlan!, data.budgetActual!) <= 0 ? 'success' : 'danger' }} ms-1 fs-12">{{ setProdplanPercentage(data.budgetPlan!, data.budgetActual!).toFixed(2) }}%<i
                                                                                    *ngIf="setProdplanPercentage(data.budgetPlan!, data.budgetActual!) !== 0" class="ri-arrow-right-{{ setProdplanPercentage(data.budgetPlan!, data.budgetActual!) < 0 ? 'down' : 'up' }}-line ms-1 align-middle"></i></span>
                                                                            </h6>
                                                                        </span>
                                                                    </small>
                                                                    <small class="text-muted mb-0">From budget of <span class="fw-semibold">{{ common.getRupiahFormat(data.budgetPlan!) }}</span></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row g-0 mt-3" *ngIf="prodplanData.length > 0">
                                                        <div class="card">
                                                            <div class="card-header align-items-center d-flex p-3">
                                                                <h4 class="card-title mb-0 flex-grow-1">Finished Goods per Month</h4>
                                                                <div class="form-check" *ngIf="prodplanLastYearData.length > 0">
                                                                    <input class="form-check-input" type="checkbox" [checked]="isCompareLastYearPPMonth" id="showMonthCompareProdplan" (change)="onLastYearProdplanShowComparison('Month', $event)">
                                                                    <label class="form-check-label" for="showMonthCompareProdplan">Show Last Year's Comparison</label>
                                                                </div>
                                                            </div>
                                                            <div class="card-body">
                                                                <apx-chart [series]="prodplanMonthColumnChart.series"
                                                                [chart]="prodplanMonthColumnChart.chart"
                                                                [dataLabels]="prodplanMonthColumnChart.dataLabels"
                                                                [plotOptions]="prodplanMonthColumnChart.plotOptions"
                                                                [yaxis]="prodplanMonthColumnChart.yaxis"
                                                                [legend]="prodplanMonthColumnChart.legend"
                                                                [fill]="prodplanMonthColumnChart.fill"
                                                                [stroke]="prodplanMonthColumnChart.stroke"
                                                                [tooltip]="prodplanMonthColumnChart.tooltip"
                                                                [xaxis]="prodplanMonthColumnChart.xaxis"
                                                                [colors]="prodplanMonthColumnChart.colors"
                                                                dir="ltr"></apx-chart>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ngx-simplebar>
                                                
                                            </ng-template>
                                        </ngb-panel>
                                    </ngb-accordion>
                                    

                                    <!-- <div class="card-header">
                                        <h4 class="card-title mb-0">Prodplan</h4>
                                    </div>
                                    <div class="card-body p-0 border-0">
                                        
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12" *ngIf="lineMonthColumnChart && lineMonthBudgetData.rawData?.length != 0">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">{{ selectedLine.name }} Budget per Month</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <apx-chart [series]="lineMonthColumnChart.series"
                                            [chart]="lineMonthColumnChart.chart"
                                            [dataLabels]="lineMonthColumnChart.dataLabels"
                                            [plotOptions]="lineMonthColumnChart.plotOptions"
                                            [yaxis]="lineMonthColumnChart.yaxis"
                                            [legend]="lineMonthColumnChart.legend"
                                            [fill]="lineMonthColumnChart.fill"
                                            [stroke]="lineMonthColumnChart.stroke"
                                            [tooltip]="lineMonthColumnChart.tooltip"
                                            [xaxis]="lineMonthColumnChart.xaxis"
                                            [colors]="lineMonthColumnChart.colors"
                                            dir="ltr"></apx-chart>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div>
                            <div class="col-xl-3 mb-4">
                                <div class="card h-100">
                                    <div class="card-header align-items-center d-flex p-3">
                                        <h4 class="card-title mb-0 flex-grow-1">{{ selectedLine.name }} Total {{ isTabOpen.actual ? 'Actual' : 'Budget' }} Value</h4>
                                        <div class="me-2">
                                            <div class="dropdown" ngbDropdown>
                                                <button class="btn btn-soft-secondary btn-sm arrow-none" href="javascript:void(0);"
                                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                                    <span class="text-uppercase">{{ isTabOpen.budget ? 'Budget' : 'Actual' }}<i
                                                            class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                    <a class="dropdown-item" (click)="onBudgetActualDropdownChange('Budget')" href="javascript:void(0);" id="udget">Budget</a>
                                                    <a class="dropdown-item" (click)="onBudgetActualDropdownChange('Actual')" href="javascript:void(0);" id="actual">Actual</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex justify-content-center align-items-center">
                                        <apx-chart [series]="totalLineBudgetDonutChart.series"
                                            [labels]="totalLineBudgetDonutChart.labels"
                                            [chart]="totalLineBudgetDonutChart.chart"
                                            [plotOptions]="totalLineBudgetDonutChart.plotOptions"
                                            [dataLabels]="totalLineBudgetDonutChart.dataLabels"
                                            [legend]="totalLineBudgetDonutChart.legend"
                                            [stroke]="totalLineBudgetDonutChart.stroke"
                                            [yaxis]="totalLineBudgetDonutChart.yaxis"
                                            [colors]="totalLineBudgetDonutChart.colors" dir="ltr"></apx-chart>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9" *ngIf="sectionBudgetBarChart && sectionBudgetData.rawData?.length != 0">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex p-3">
                                        <h4 class="card-title mb-0 flex-grow-1">{{ selectedLine.name }} Budget per Section</h4>
                                        <div class="me-2">
                                            <div class="dropdown" ngbDropdown>
                                                <button class="btn btn-soft-secondary btn-sm arrow-none" href="javascript:void(0);"
                                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                                    <span class="text-uppercase">{{ selectedMonth.name }}<i
                                                            class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                    <a *ngFor="let month of months" class="dropdown-item" (click)="onLineMonthChange(month)" href="javascript:void(0);">{{ month.name }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                            <apx-chart [series]="sectionBudgetBarChart.series" [chart]="sectionBudgetBarChart.chart" [tooltip]="sectionBudgetBarChart.tooltip"
                                            [dataLabels]="sectionBudgetBarChart.dataLabels" [plotOptions]="sectionBudgetBarChart.plotOptions" [yaxis]="sectionBudgetBarChart.yaxis"
                                            [xaxis]="sectionBudgetBarChart.xaxis" [stroke]="sectionBudgetBarChart.stroke" [colors]="sectionBudgetBarChart.colors" dir="ltr"></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" #section>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header border-bottom-dashed align-items-center d-flex">
                                        <h5 class="mb-0 flex-grow-1">Section: <span class="text-success">{{ selectedSection.name }}</span></h5>
                                        <div class="me-2" *ngIf="lineData.length > 1">
                                            <div class="dropdown" ngbDropdown>
                                                <button class="btn btn-soft-primary btn-sm arrow-none" href="javascript:void(0);"
                                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                                                    <span class="text-uppercase">{{ selectedLine.name }}<i
                                                            class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                    <a *ngFor="let item of lineData" class="dropdown-item" (click)="onFactoryLineChange($event)" href="javascript:void(0);" [id]="common.jsonToString(item)">{{ item.line }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="dropdown" ngbDropdown>
                                                <button class="btn btn-soft-success btn-sm arrow-none"
                                                    href="javascript:void(0);" data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" ngbDropdownToggle>
                                                    <span class="text-uppercase">{{ selectedSection.name }}<i
                                                            class="mdi mdi-chevron-down align-middle ms-1"></i></span>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                                    <a *ngFor="let data of sectionData" (click)="onSectionChange(data)" class="dropdown-item" href="javascript:void(0);">{{ data.section }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title mb-0">{{ selectedSection.name }} Budget per Month</h4>
                                                    </div><!-- end card header -->
        
                                                    <div class="card-body">
                                                        <apx-chart [series]="sectionBudgetMonthColumnChart.series"
                                                            [chart]="sectionBudgetMonthColumnChart.chart"
                                                            [dataLabels]="sectionBudgetMonthColumnChart.dataLabels"
                                                            [plotOptions]="sectionBudgetMonthColumnChart.plotOptions"
                                                            [yaxis]="sectionBudgetMonthColumnChart.yaxis"
                                                            [legend]="sectionBudgetMonthColumnChart.legend"
                                                            [fill]="sectionBudgetMonthColumnChart.fill"
                                                            [stroke]="sectionBudgetMonthColumnChart.stroke"
                                                            [tooltip]="sectionBudgetMonthColumnChart.tooltip"
                                                            [xaxis]="sectionBudgetMonthColumnChart.xaxis"
                                                            [colors]="sectionBudgetMonthColumnChart.colors"
                                                            dir="ltr"></apx-chart>
                                                    </div><!-- end card-body -->
                                                </div><!-- end card -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <ngb-accordion #acc="ngbAccordion" [closeOthers]="false">
                                                    <ngb-panel id="detailSectionData">
                                                        <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                                                            <h4 class="card-title mb-0">More Section Data</h4>
                                                        </ng-template>
                                                        <ng-template ngbPanelContent>
                                                            <div class="card">
                                                                <div class="card-header border-bottom-dashed p-3">
                                                                    <ul ngbNav #Animation="ngbNav" [activeId]="activeTab" class="nav nav-pills animation-nav nav-justified gap-2">
                                                                        <li *ngFor="let tab of tabData" [ngbNavItem]="tab.id">
                                                                            <a ngbNavLink [name]="common.jsonToString(tab)" (click)="onBudgetActualTabChange($event)">
                                                                              {{ tab.name }}
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row" *ngIf="sectionFiveBiggestSupply.length !== 0; else emptyDashboard">
                                                                        <div class="col-xl-4">
                                                                            <div class="card">
                                                                                <div class="card-header p-3">
                                                                                    <h4 class="card-title mb-0">Top 5 Biggest {{ selectedSection.name }} Supplies {{ isTabOpen.actual ? 'Actual' : 'Budget' }}</h4>
                                                                                </div>
                                                                                <div class="card-body table-responsive">
                                                                                    <table class="table table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Material</th>
                                                                                                <th scope="col">Price</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr *ngFor="let data of sectionFiveBiggestSupply; let i = index">
                                                                                                <th scope="row">{{ i + 1 }}</th>
                                                                                                <td>
                                                                                                    <div class="fs-6">
                                                                                                        <a routerLink="./supplies/detail/{{ data.material_code }}" [queryParams]="{ budgetId: data.budget_id }" class="text-reset">{{ data.material_desc }}</a>
                                                                                                    </div>
                                                                                                    <span class="fs-12 text-muted">{{ data.section }}</span>
                                                                                                </td>
                                                                                                <td>{{ common.getRupiahFormat(data.price) }}</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xl-8">
                                                                            <div class="card">
                                                                                <div class="card-header border-bottom-dashed align-items-center d-flex p-3">
                                                                                    <h4 class="card-title mb-0 flex-grow-1">{{ selectedSection.name }} Supplies {{ isTabOpen.actual ? 'Actual' : 'Budget' }} Value</h4>
                                                                                    <div class="form-check">
                                                                                        <input class="form-check-input" type="checkbox" [checked]="showTreemapLabels" id="showLabels" (change)="onTreemapShowLabels($event)">
                                                                                        <label class="form-check-label" for="showLabels">Show Labels</label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="card-body">
                                                                                    <apx-chart [series]="sectionSupplyTreemapChart.series"
                                                                                    [chart]="sectionSupplyTreemapChart.chart" [tooltip]="sectionSupplyTreemapChart.tooltip"
                                                                                    [dataLabels]="sectionSupplyTreemapChart.dataLabels"
                                                                                    [plotOptions]="sectionSupplyTreemapChart.plotOptions"
                                                                                    [title]="sectionSupplyTreemapChart.title" [legend]="sectionSupplyTreemapChart.legend"
                                                                                    [colors]="sectionSupplyTreemapChart.colors" dir="ltr"></apx-chart>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-panel>
                                                </ngb-accordion>
                                            </div>
                                        </div>
                                    </div>
        
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div>
                        <ngb-accordion #acc="ngbAccordion" [closeOthers]="false">
                            <ngb-panel id="detailLineData">
                                <ng-template ngbPanelTitle class="accordion-header border-0 bg-transparent">
                                    <h4 class="card-title mb-0">More Factory Line Data</h4>    
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="card">
                                        <div class="card-header p-3">
                                            <ul ngbNav #Animation="ngbNav" [activeId]="activeTab" class="nav nav-pills animation-nav nav-justified gap-2">
                                                <li *ngFor="let tab of tabData" [ngbNavItem]="tab.id">
                                                    <a ngbNavLink [name]="common.jsonToString(tab)" (click)="onBudgetActualTabChange($event)">
                                                      {{ tab.name }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-12 mb-4" *ngIf="supplyBudgetTreemapChart && supplyBudgetData.rawData?.length != 0">
                                                    <div class="card h-100">
                                                        <div class="card-header align-items-center d-flex p-3">
                                                            <h4 class="card-title mb-0 flex-grow-1">{{ selectedLine.name }} Supplies {{ isTabOpen.actual ? 'Actual' : 'Budget' }} Value</h4>
                                                            <div class="form-check">
                                                                <input class="form-check-input" [checked]="showTreemapLabels" type="checkbox" id="showLabels" (change)="onTreemapShowLabels($event)">
                                                                <label class="form-check-label" for="showLabels">Show Labels</label>
                                                            </div>
                                                        </div>
                                                        <div class="card-body">
                                                            <apx-chart [series]="supplyBudgetTreemapChart.series"
                                                                [chart]="supplyBudgetTreemapChart.chart" [tooltip]="supplyBudgetTreemapChart.tooltip"
                                                                [dataLabels]="supplyBudgetTreemapChart.dataLabels"
                                                                [plotOptions]="supplyBudgetTreemapChart.plotOptions"
                                                                [title]="supplyBudgetTreemapChart.title" [legend]="supplyBudgetTreemapChart.legend"
                                                                [colors]="supplyBudgetTreemapChart.colors" dir="ltr"></apx-chart>
                                                        </div>
                            
                                                    </div><!-- end card -->
                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="card">
                                                        <div class="card-header align-items-center d-flex p-3">
                                                            <h4 class="card-title">Top 5 Biggest {{ selectedLine.name }} Supplies {{ isTabOpen.actual ? 'Actual' : 'Budget' }}</h4>
                                                        </div>
                                                        <div class="card-body table-responsive">
                                                            <!-- Striped Rows -->
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">#</th>
                                                                        <th scope="col">Material</th>
                                                                        <th scope="col">Price</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let data of lineFiveBiggestSupply; let i = index">
                                                                        <th scope="row">{{ i + 1 }}</th>
                                                                        <td>
                                                                            <div class="fs-6">
                                                                                <a routerLink="./supplies/detail/{{ data.material_code }}" [queryParams]="{ budgetId: data.budget_id }" class="text-reset">{{ data.material_desc }}</a>
                                                                            </div>
                                                                            <span class="fs-12 text-muted">{{ data.section }}</span>
                                                                        </td>
                                                                        <td>{{ common.getRupiahFormat(data.price) }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-8">
                                                    <div class="card">
                                                        <div class="card-header align-items-center d-flex p-3">
                                                            <h4 class="card-title">{{ selectedLine.name }} {{ isTabOpen.actual ? 'Actual' : 'Budget' }} by Month per Section</h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="live-preview">
                                                                <apx-chart [series]="sectionBudgetMonthHeatmapChart.series"
                                                                    [chart]="sectionBudgetMonthHeatmapChart.chart"
                                                                    [dataLabels]="sectionBudgetMonthHeatmapChart.dataLabels"
                                                                    [title]="sectionBudgetMonthHeatmapChart.title"
                                                                    [tooltip]="sectionBudgetMonthHeatmapChart.tooltip"
                                                                    [yaxis]="sectionBudgetMonthHeatmapChart.yaxis"
                                                                    [colors]="sectionBudgetMonthHeatmapChart.colors"
                                                                    [stroke]="sectionBudgetMonthHeatmapChart.stroke" dir="ltr"></apx-chart>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #emptyDashboard>
    <div class="card table-responsive p-3">
        <div class="text-center mt-3">
            <h4 class="card-title">Data not available</h4>
        </div>
        <div class="d-flex justify-content-center">
            <img src="assets/images/file.png" alt="no-finding" height="300">
        </div>
    </div>
</ng-template>
